In [48]:
import pandas as pd

# load IMDB datasets (https://www.imdb.com/interfaces/)
crew = pd.read_csv("./name.basics.tsv", sep='\t')
directors = pd.read_csv("./title.crew.tsv", sep='\t')
titles = pd.read_csv("./title.basics.tsv", sep='\t', low_memory=False)
ratings = pd.read_csv("./title.ratings.tsv", sep='\t')

In [49]:
# transform directors, so we can match each one with a movie later one
directors.directors=directors.directors.apply(lambda x: x.split(','))
directors = directors.drop(columns='writers')
directors = directors.explode('directors')
directors.head()

      tconst  directors
0  tt0000001  nm0005690
1  tt0000002  nm0721526
2  tt0000003  nm0721526
3  tt0000004  nm0721526
4  tt0000005  nm0005690

In [50]:
# cleanup crew DF
crew = crew.drop(columns=[ "primaryProfession", "knownForTitles", "birthYear", "deathYear"])
crew.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

In [51]:
# extend directors by actual names
directors = directors.join(crew.set_index("nconst"), on="directors")
directors.head()

      tconst  directors           primaryName
0  tt0000001  nm0005690  William K.L. Dickson
1  tt0000002  nm0721526         Émile Reynaud
2  tt0000003  nm0721526         Émile Reynaud
3  tt0000004  nm0721526         Émile Reynaud
4  tt0000005  nm0005690  William K.L. Dickson

In [52]:
# add movie ratings
director_ratings  = directors.join(ratings.set_index("tconst"), on="tconst")
director_ratings = director_ratings.sort_values(by="averageRating")
director_ratings = director_ratings.dropna(how="any")
director_ratings.head()

            tconst  directors     primaryName  averageRating  numVotes
5345     tt0005411  nm0942396  Fred E. Wright            1.0      21.0
7995597  tt6028830  nm8395992   Andrey Gromov            1.0      17.0
7995591  tt6028816  nm8395992   Andrey Gromov            1.0      17.0
7995584  tt6028800  nm8395992   Andrey Gromov            1.0      17.0
7995580  tt6028792  nm8395992   Andrey Gromov            1.0      17.0

In [127]:
overview = director_ratings.join(titles.set_index("tconst"), on="tconst").dropna(
    how="any"
)

overview = overview[(overview["runtimeMinutes"] != "\\N")].astype(
    {"numVotes": "float", "runtimeMinutes": "int", "averageRating": "float"}
)

,tconst,directors,primaryName,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
6786362,tt3285736,nm5571141,Dustin Alpern,1.0,14.0,short,Interface,Interface,0,2013,\N,17,"Drama,Romance,Sci-Fi"
4431394,tt1645915,nm3365441,Kathryn Fielding,1.0,36.0,movie,Stand Up Face the Fear,Stand Up Face the Fear,0,2008,\N,65,"Comedy,Documentary"
3527052,tt14675334,nm7656569,Sammie Lei,1.0,14.0,movie,Deadly Trio,Deadly Trio,0,2022,\N,90,Drama
7995535,tt6028684,nm8395992,Andrey Gromov,1.0,28.0,video,Radiodeath,Radiodeath,0,2015,\N,10,"Horror,Short"
6107786,tt2447822,nm1105439,M. Jamil,1.0,11.0,movie,Momok Jangan Cari Pasal!,Momok Jangan Cari Pasal!,0,2012,\N,85,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
783453,tt0808901,nm1710934,Michelle Van Sandt,10.0,6.0,short,The Night Before the Morning After,The Night Before the Morning After,0,2006,\N,8,"Drama,Short"
6889948,tt3526310,nm1784459,Don Haderlein,10.0,9.0,movie,The World Awaits,The World Awaits,0,2016,\N,98,Documentary
6109731,tt24509274,nm8011635,Robert Antonescu,10.0,11.0,short,Bucharest Dawn to Dusk,Bucharest Dawn to Dusk,0,2022,\N,32,"Documentary,Short"
398945,tt0416038,nm0509327,Wolfgang Liebeneiner,10.0,13.0,tvMovie,Mister Barnett,Mister Barnett,0,1969,\N,55,Drama
2508402,tt12803632,nm9366735,Christian Jessup,10.0,13.0,movie,The Dancin' Bulldogs,The Dancin' Bulldogs,0,2020,\N,80,Documentary

In [126]:
overview

,tconst,directors,primaryName,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,score
6786362,tt3285736,nm5571141,Dustin Alpern,1.0,14.0,short,Interface,Interface,0,2013,\N,17,"Drama,Romance,Sci-Fi",14.0
4431394,tt1645915,nm3365441,Kathryn Fielding,1.0,36.0,movie,Stand Up Face the Fear,Stand Up Face the Fear,0,2008,\N,65,"Comedy,Documentary",36.0
3527052,tt14675334,nm7656569,Sammie Lei,1.0,14.0,movie,Deadly Trio,Deadly Trio,0,2022,\N,90,Drama,14.0
7995535,tt6028684,nm8395992,Andrey Gromov,1.0,28.0,video,Radiodeath,Radiodeath,0,2015,\N,10,"Horror,Short",28.0
6107786,tt2447822,nm1105439,M. Jamil,1.0,11.0,movie,Momok Jangan Cari Pasal!,Momok Jangan Cari Pasal!,0,2012,\N,85,Comedy,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783453,tt0808901,nm1710934,Michelle Van Sandt,10.0,6.0,short,The Night Before the Morning After,The Night Before the Morning After,0,2006,\N,8,"Drama,Short",60.0
6889948,tt3526310,nm1784459,Don Haderlein,10.0,9.0,movie,The World Awaits,The World Awaits,0,2016,\N,98,Documentary,90.0
6109731,tt24509274,nm8011635,Robert Antonescu,10.0,11.0,short,Bucharest Dawn to Dusk,Bucharest Dawn to Dusk,0,2022,\N,32,"Documentary,Short",110.0
398945,tt0416038,nm0509327,Wolfgang Liebeneiner,10.0,13.0,tvMovie,Mister Barnett,Mister Barnett,0,1969,\N,55,Drama,130.0
2508402,tt12803632,nm9366735,Christian Jessup,10.0,13.0,movie,The Dancin' Bulldogs,The Dancin' Bulldogs,0,2020,\N,80,Documentary,130.0

In [125]:
overview["score"] = overview["numVotes"] * overview["averageRating"]
overview["runtimeRating"] = overview["averageRating"] * overview["runtimeMinutes"]

overview.drop(
    columns=[
        "directors",
        "titleType",
        "originalTitle",
        "isAdult",
        "startYear",
        "endYear",
        "genres",
    ]
)

overview.sort_values(by="runtimeMinutes", ascending=True)

TypeError: can't multiply sequence by non-int of type 'float'

,tconst,primaryName,averageRating,numVotes,primaryTitle,runtimeMinutes,score,runtimeRating
6786362,tt3285736,Dustin Alpern,1.0,14.0,Interface,17.0,14.0,17.0
4431394,tt1645915,Kathryn Fielding,1.0,36.0,Stand Up Face the Fear,65.0,36.0,65.0
3527052,tt14675334,Sammie Lei,1.0,14.0,Deadly Trio,90.0,14.0,90.0
7995535,tt6028684,Andrey Gromov,1.0,28.0,Radiodeath,10.0,28.0,10.0
6107786,tt2447822,M. Jamil,1.0,11.0,Momok Jangan Cari Pasal!,85.0,11.0,85.0
...,...,...,...,...,...,...,...,...
783453,tt0808901,Michelle Van Sandt,10.0,6.0,The Night Before the Morning After,8.0,60.0,80.0
6889948,tt3526310,Don Haderlein,10.0,9.0,The World Awaits,98.0,90.0,980.0
6109731,tt24509274,Robert Antonescu,10.0,11.0,Bucharest Dawn to Dusk,32.0,110.0,320.0
398945,tt0416038,Wolfgang Liebeneiner,10.0,13.0,Mister Barnett,55.0,130.0,550.0
2508402,tt12803632,Christian Jessup,10.0,13.0,The Dancin' Bulldogs,80.0,130.0,800.0

In [ ]:
from numpy import average, sum


results = overview.groupby("primaryName").agg(
    {"averageRating": average, "numVotes": sum, "score":sum, "runtimeRating": sum, "runtimeMinutes": sum}
)

results['averageRuntimeRating'] = results['runtimeRating'] / results['runtimeMinutes']

KeyError: "Column(s) ['runtimeRating'] do not exist"

In [ ]:
results.sort_values(
    by=["averageRuntimeRating"], ascending=False
).head(50)

,averageRating,numVotes,score,runtimeRating,runtimeMinutes,averageRuntimeRating
primaryName,,,,,,
'Biggy' Winzig Zbigniew,5.300000,10.0,53.0,inf,1.797693e+308,inf
John Lloyd Davis,8.900000,9.0,80.1,inf,1.797693e+308,inf
John Mann,6.300000,43.0,270.9,inf,1.797693e+308,inf
John Magnus,8.000000,210.0,1680.0,inf,1.797693e+308,inf
John Magennis,6.700000,179.0,1199.3,inf,1.797693e+308,inf
John Magala,8.900000,17.0,151.3,inf,1.797693e+308,inf
John Mackin,2.700000,31.0,83.7,inf,1.797693e+308,inf
John MacIntyre,6.600000,24.0,158.4,inf,1.797693e+308,inf
John MacGibbon,8.000000,13.0,104.0,inf,1.797693e+308,inf
John MacDonald,7.800000,11.0,85.8,inf,1.797693e+308,inf
John MacArthur,6.400000,16.0,102.4,inf,1.797693e+308,inf
John M. Broadhead,8.850000,23.0,204.1,inf,1.797693e+308,inf
John Lyons Murphy,7.750000,167.0,1256.5,inf,1.797693e+308,inf
John Luksetich,7.975000,91.0,706.8,inf,1.797693e+308,inf
John Luessenhop,5.900000,119851.0,668600.4,inf,1.797693e+308,inf
John Lopez,7.000000,61.0,430.8,inf,1.797693e+308,inf
John Lonsdale,7.800000,49.0,382.2,inf,1.797693e+308,inf
John Manzelli,8.100000,16.0,129.6,inf,1.797693e+308,inf
John Mapplebeck,7.100000,225.0,1560.9,inf,1.797693e+308,inf
John Marcucci,7.700000,13.0,100.1,inf,1.797693e+308,inf
John McGalliard,6.900000,11.0,75.9,inf,1.797693e+308,inf
John Mejia,5.000000,26.0,130.0,inf,1.797693e+308,inf
John Mead,6.350000,51.0,341.9,inf,1.797693e+308,inf
John Mckay,4.500000,12.0,54.0,inf,1.797693e+308,inf
John McManus,5.200000,20.0,104.0,inf,1.797693e+308,inf
John McKernan,7.700000,8.0,61.6,inf,1.797693e+308,inf
John McKeown,6.500000,9.0,58.5,inf,1.797693e+308,inf
John McDowell,4.800000,25.0,121.4,inf,1.797693e+308,inf
John Mark Loudermilk,7.850000,23.0,179.8,inf,1.797693e+308,inf
John McCalmont,5.200000,1544.0,7265.8,inf,1.797693e+308,inf
John Mayta,3.400000,40.0,136.0,inf,1.797693e+308,inf
John Maxse,8.900000,82.0,729.8,inf,1.797693e+308,inf
John Matrixx,5.500000,56.0,308.0,inf,1.797693e+308,inf
John Marrs,8.000000,6.0,48.0,inf,1.797693e+308,inf
John Markland,7.500000,9.0,67.5,inf,1.797693e+308,inf
John Lollos,7.100000,10.0,71.0,inf,1.797693e+308,inf
John Linton,6.600000,9.0,59.4,inf,1.797693e+308,inf
John Iresch,7.500000,8.0,60.0,inf,1.797693e+308,inf
John Linneman,9.800000,12.0,117.6,inf,1.797693e+308,inf
John Killoran,4.400000,147.0,646.8,inf,1.797693e+308,inf
John Keuner,10.000000,11.0,110.0,inf,1.797693e+308,inf
John Kenneth Go,8.600000,18.0,154.8,inf,1.797693e+308,inf
John Keister,8.200000,87.0,709.3,inf,1.797693e+308,inf
John Kedzie,7.900000,54.0,426.6,inf,1.797693e+308,inf
John Kavanagh,6.200000,203.0,1258.6,inf,1.797693e+308,inf
John Kassab,3.300000,196.0,646.8,inf,1.797693e+308,inf
John Karolidis,4.500000,43.0,193.5,inf,1.797693e+308,inf
John K.D. Graham,4.844444,3125.0,14592.1,inf,1.797693e+308,inf
John K. Anderson,6.400000,6.0,38.4,inf,1.797693e+308,inf
John Junior Steemson,7.050000,32.0,230.1,inf,1.797693e+308,inf

In [ ]:
#res = res.droplevel(axis=1, level=[1]).reset_index()
res['avgRating'] = res['votes'] / res['numVotes']

res.sort_values(by=['avgRating', 'votes'], ascending=False).head(50)

KeyError: 'votes'