In [49]:
import pandas as pd;

from datetime import datetime


# https://open-meteo.com/en/docs/marine-weather-api#latitude=35.47&longitude=139.63&daily=wave_height_max,wave_direction_dominant&timezone=Europe%2FBerlin&start_date=2022-08-01&end_date=2023-04-19
sea = pd.read_csv('./kanagawa_prediction.csv',  parse_dates=['time'])
# https://www.kaggle.com/datasets/lsind18/full-moon-calendar-1900-2050
moon = pd.read_csv('./moon.csv',sep=';')

In [50]:
moon

       Moon Phase         Date   Time
0        New Moon  2022 Jul 28  17:55
1   First Quarter   2022 Aug 5  11:06
2       Full Moon  2022 Aug 12  01:36
3    Last Quarter  2022 Aug 19  04:36
4        New Moon  2022 Aug 27  08:17
5   First Quarter   2022 Sep 3  18:08
6       Full Moon  2022 Sep 10  09:59
7    Last Quarter  2022 Sep 17  21:52
8        New Moon  2022 Sep 25  21:54
9   First Quarter   2022 Oct 3  00:14
10      Full Moon   2022 Oct 9  20:55
11   Last Quarter  2022 Oct 17  17:15
12       New Moon  2022 Oct 25  10:49
13  First Quarter   2022 Nov 1  06:37
14      Full Moon   2022 Nov 8  11:02
15   Last Quarter  2022 Nov 16  13:27
16       New Moon  2022 Nov 23  22:57
17  First Quarter  2022 Nov 30  14:36
18      Full Moon   2022 Dec 8  04:08
19   Last Quarter  2022 Dec 16  08:56
20       New Moon  2022 Dec 23  10:17
21  First Quarter  2022 Dec 30  01:20
22      Full Moon   2023 Jan 6  23:08
23   Last Quarter  2023 Jan 15  02:10
24       New Moon  2023 Jan 21  20:53
25  First Quarter  2023 Jan 28  15:19
26      Full Moon   2023 Feb 5  18:28
27   Last Quarter  2023 Feb 13  16:01
28       New Moon  2023 Feb 20  07:06
29  First Quarter  2023 Feb 27  08:06
30      Full Moon   2023 Mar 7  12:40
31   Last Quarter  2023 Mar 15  02:08
32       New Moon  2023 Mar 21  17:23
33  First Quarter  2023 Mar 29  02:32
34      Full Moon   2023 Apr 6  04:34
35   Last Quarter  2023 Apr 13  09:11
36       New Moon  2023 Apr 20  04:12
37  First Quarter  2023 Apr 27  21:20
38      Full Moon   2023 May 5  17:34
39   Last Quarter  2023 May 12  14:28
40       New Moon  2023 May 19  15:53
41  First Quarter  2023 May 27  15:22
42      Full Moon   2023 Jun 4  03:42
43   Last Quarter  2023 Jun 10  19:31
44       New Moon  2023 Jun 18  04:37
45  First Quarter  2023 Jun 26  07:50
46      Full Moon   2023 Jul 3  11:39
47   Last Quarter  2023 Jul 10  01:48
48       New Moon  2023 Jul 17  18:32
49  First Quarter  2023 Jul 25  22:07
50      Full Moon   2023 Aug 1  18:32

In [51]:
import datetime

moon['date']=moon['Date'].apply(lambda x : datetime.datetime.strptime(x, '%Y %b %d') if x else 0)

moon.drop(columns=['Date','Time'], inplace=True)

In [52]:

data = sea.rename(columns={'wave_height_max (m)':'height', 'wave_direction_dominant (°)':'direction'}).join(moon.rename(columns={'Moon Phase':'phase' }).set_index('date'), on ='time')
data.head(20)

         time  height  direction          phase
0  2022-07-29     NaN        NaN            NaN
1  2022-07-30    0.82      167.0            NaN
2  2022-07-31    0.56      170.0            NaN
3  2022-08-01    0.70      185.0            NaN
4  2022-08-02    0.50      189.0            NaN
5  2022-08-03    0.50      180.0            NaN
6  2022-08-04    0.50      106.0            NaN
7  2022-08-05    0.60       79.0  First Quarter
8  2022-08-06    0.42       95.0            NaN
9  2022-08-07    0.46      118.0            NaN
10 2022-08-08    0.98      186.0            NaN
11 2022-08-09    1.20      197.0            NaN
12 2022-08-10    1.14      183.0            NaN
13 2022-08-11    1.12      178.0            NaN
14 2022-08-12    1.30      187.0      Full Moon
15 2022-08-13    1.90      186.0            NaN
16 2022-08-14    0.92      195.0            NaN
17 2022-08-15    0.84      196.0            NaN
18 2022-08-16    1.28      206.0            NaN
19 2022-08-17    0.52      183.0            NaN

In [53]:

with open('./kanagawa.json', 'w') as outfile:
    outfile.write(data.to_json(orient="records"))